body {
  margin: 0;
  background: #efefff;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  text-align: center;
}

#videobox {
  position: absolute;
  top: 10px; left: 10px;
  transform-origin: left top;
  transform: scale(.1);
}

#video {
  display: block;
  /* transform: rotateZ(180deg); */
  /* なぜか天地反転するので天地反転し返す */
}

#video_pane {
  display: inline-block;
  width: 50%;
  height: 400px;
  position: relative;
}

#canvas {
  display: block;
  position: absolute;
  width: 100%; 
  height: 100%;
  background: #000;
}

.ticket1 table {
  margin: 0.5em;
  border-collapse: collapse;
  text-align: center;
  background: #fff;
  /* width: 100%; */
}

.ticket1 .th3 {
  width: 34mm;
}

.ticket1 .th11 {
  width: 23mm;
}

.ticket1 .th12 {
  width: 25mm;
}

.ticket1 .th14 {
  width: 24mm;
}

.ticket1 .th13 {
  width: 19mm;
}

.ticket1 th {
  padding: 3px .8em;
  border: solid 1px orange;
  font-weight: normal;
  font-size: 80%;
  height: 3.8mm;
}

.ticket1 td {
  padding: 3px .8em;
  border: solid 1px orange;
  height: 7mm;
}

.ticket1 .qr {
  text-align: left;
  border-left: 0;
  border-top: 0;
}

.ticket1 .td13 {
  text-align: right;
  height: 9mm;
}

.ticket1 .td4 {
  height: 13mm;
  border-left: 0;
}

.ticket1 .td4_1 {
  text-align: right;
  border-right: 0;
}

.ticket1 .td4_2 {
  text-align: right;
  border-right: 0;
  border-left: 0;
}


.ticket1 .td7 {
  text-align: right;
}

.ticket1 .td9 {
  text-align: right;
}

.ticket1 .td10 {
  text-align: left;
  font-size: 80%;
}

.ticket1 .th11 {
  height: 4.5mm;
}

.ticket1 .th10 {
  height: 4.5mm;
}

.ticket1 td {
  font-size: 110%;
}

.ticket1 td.large {
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
}

.ticket1 th.large {
  border-top-width: 3px;
  border-left-width: 3px;
  border-bottom-width: 3px;
}

.ticket1 td.largev {
  border-left-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
}

.ticket1 th.largev {
  border-top-width: 3px;
  border-right-width: 3px;
  border-left-width: 3px;
}

.ticket1 th.th7 {
  border-top-width: 1px;
}

.ticket_detail {
  display: inline-block;
  margin: 3em;
  background-color: white;
  box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.1);
}

.ticket_log {
  display: inline-block;
  width: 50mm;
  text-align: center;
  margin: 0.3em;
}

.ticket_log .description {
  width: 100%;
}

.ticket_log .open_button {
  width: 100%;
  display: block;
  margin: 0.3em;
  padding: 1em 3em;
  background-color: #7f7;
  border: solid 2px green;
  border-radius: 10px;
  font-size: 100%;
}

.ticket_log .close_button {
  width: 100%;
  display: block;
  margin: 0.3em;
  padding: 1em 3em;
  background-color: #f77;
  border: solid 2px red;
  border-radius: 10px;
  font-size: 100%;
}
